<header>
    <div class="container">
        <div class="col col-l-7 col-m-12 col-s-12">
            <div class="col col-l-6 col-s-12 col-m-6">
                <a routerLink="/">
                    <img src="/assets/logo.png" alt="Logo">
                </a>
            </div>
            <div class="col col-l-6 col-s-12 col-m-6 sub txt-al-r">
                <span>&mdash; searching ISP made easy!</span>
            </div>
        </div>
        <div class="col col-l-5 col-m-12 col-s-12 apiCounts">
            <div class="mk-btn">
                <span><b>Total ISP</b>: {{ispCount}}</span>
                <span><b>API Hits</b>: {{apiHits}}</span>
            </div>
        </div>
    </div>
</header>