
.page
	background: #f5f5f5
	min-height calc(100vh - 78px)
	min-height -webkit-calc(100vh - 78px)
	min-height -moz-calc(100vh - 78px)
	display flex
.brd-left
	border-left: 2px solid #2e2e2e

@media screen and (max-width: 980px) 
	.page
		display block
		.brd-left
			border: none
